/* reset */
@use 'variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

// Typography

.poppins-light {
  font-family: vars.$font-poppins;
  font-weight: vars.$font-weight-light;
}

.poppins-regular {
  font-family: vars.$font-poppins;
  font-weight: vars.$font-weight-regular;
}

.poppins-semibold {
  font-family: vars.$font-poppins;
  font-weight: vars.$font-weight-semibold;
}

.container {
  background-color: vars.$background-white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 2rem;
}
